<!DOCTYPE html>
<html lang="en">
<title>Random Topic Generator</title>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Random Topic Generator" />
	<meta name="author" content="Sara De Grandis" />
	<link rel="stylesheet" type="text/css" href="randomcss.css" />
	<link rel="icon" type="image/x-icon" href="bright-mind.png" />
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />

	<!--Google Font
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@900&family=Teko:wght@700&display=swap"
		rel="stylesheet">-->
	<!--Boostrap CSS CDN-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!--JQUERY CDN-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--Bootstrap Javascript CDN-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body ng-app="randomApp" ng-controller="ctrl">
	<nav>
		<div class="row">
			<div class="navbar container-fluid text-center" id="nav">
				<h2><strong>TOPIC GENERATOR</strong></h2>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="container-fluid text-center corpo"><br><br>
			<p id="enjoy"> Choose how many topics you want,<br>
				Click the button to see a random result.<br>
				Enjoy</p><br>
			<p>Select a number of topics:</p>
			<select id="select" name="number" ng-change="choose()" ng-model="selected">
				<option value="1">1 TOPIC</option>
				<option value="2">2 TOPICS</option>
				<option value="3">3 TOPICS</option>
				<option value="4">4 TOPICS</option>
				<option value="5">5 TOPICS</option>
			</select><br>

			<button type="button" ng-click="random()" id="start">START</button><br><br>

			<div class="row sub" ng-repeat="topic in topics track by $index" ng-show="topic">
				<div class="col-md-4 col-xs-3"></div>
				<div class="argomento col-md-4 col-xs-5" ng-show="topic">
					<span ng-model="lock[$index]">{{sub[$index]}}</span>

				</div>
				<div ng-show="topic" ng-model="lock[$index]" class="col-md-1 col-xs-1">
					<button type="button" ng-class="lock[$index] ? 'lock-open' : 'lock-close'">
						<img src="{{open[$index]}}" alt="lock" height="25" width="25"
							ng-click="locker($index)"></button>
				</div>
				<div class="col-md-3 col-xs-1"></div>
			</div><br><br>

			<button type="button" ng-click="reset()" id="reset">RESET</button><br><br><br>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid text-center">
			<p>WHAT IS RANDOM TOPIC GENERATOR?<br/>
			This generator will pick randomly subjects for you<br/>
			Perfect for illustrations, pictures, stories and more <br/>
			Over 200 subjects</p><br/><br/>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid footer">
			<div class="text-center">
				<span>2021 CC Sara De Grandis</span>
			</div>
		</div>
	</div>
	<!--Angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="randomapp.js"></script>
	<!--ngAnimate google CDN-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.js"></script>
</body>

</html>