@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body.ng-scope {
	font-family: 'Bebas Neue', cursive;
	background-color: #151923;
	font-size: 20px;
	color:#EDE7E3
}
::selection {
	background-color: #ffc71f;
	color: #151923;
}
h2 {
	padding: 10px;
	margin: auto;
}
div.row {
	margin: 0px;
}
#enjoy {
	margin: 20px;
	padding-left: 1em;
	padding-right: 1em;
}
.navbar {
	background-color: #ffc71f;
	color: #151923;
	padding: 2em;
}
#nav {
	margin: 0px;
}
.argomento {
	border: 3px solid #16697A;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #151923;
	color: #EDE7E3;
	box-shadow: 5px 5px #1f788a;
	height: 20%;
	width: 50%;
	margin: 10px auto 20px auto;
	padding: 1em;
	position: static;
}s
select, #select {
	padding: 7px;
	border: 3px solid #FFA62B;
	background-color: #151923;
	border-radius: 15px;
	margin: 10px;
}
select:hover {
	border: 3px solid #FFA62B;
	border-radius: 15px;
}
button {
	border-radius: 15px;
	border: 0px solid white;
	background-color: #FFA62B;
	color: #151923;
	padding: 5px 10px;
	width: 100px;
	box-shadow: 5px 5px #ffc87b;
}
#start {
	margin: 15px;
	height: 2em;
}
.footer {
	background-color: #16697A;
	padding: 2em;
	position: relative;
	bottom: 0;
	width: 100%;
}
